@layer components {
  .n-badge {
    --n-comp-badge-bg-color: var(--n-sys-color-danger);
    --n-comp-badge-radius: 10px;
    --n-comp-badge-font-size: 12px;
    --n-comp-badge-padding: 6px;
    --n-comp-badge-size: 18px;

    position: relative;

    display: inline-block;

    width: fit-content;

    vertical-align: middle;
  }

  .n-badge__content {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: var(--n-comp-badge-size);
    padding: 0 var(--n-comp-badge-padding);

    color: var(--n-sys-color-white);
    font-size: var(--n-comp-badge-font-size);
    white-space: nowrap;

    border: 1px solid var(--n-sys-color-white);
    border-radius: var(--n-comp-badge-radius);

    background-color: var(--n-comp-badge-bg-color);
  }

  .n-badge__content--is-fixed {
    position: absolute;
    top: 0;
    right: calc(1px + var(--n-comp-badge-size) / 2);
    z-index: var(--n-sys-z-index-normal);

    transform: translateY(-50%) translateX(100%);
  }

  .n-badge__content--is-fixed.n-badge__content--is-dot {
    right: 5px;
  }

  .n-badge__content--is-dot {
    right: 0;

    width: 8px;
    height: 8px;
    padding: 0;

    border-radius: 50%;
  }
}
