@layer components {
  /* soft */
  .n-tag--appearance-soft-primary {
    --n-comp-tag-container-bg-color: var(--n-sys-container-color-primary-variant);
    --n-comp-tag-container-border-color: var(--n-sys-border-color-primary);
    --n-comp-tag-container-bg-color-hover: var(--n-sys-color-primary);
    --n-comp-tag-container-text-color: var(--n-sys-on-container-color-primary-variant);
  }

  .n-tag--appearance-soft-success {
    --n-comp-tag-container-bg-color: var(--n-sys-container-color-success-variant);
    --n-comp-tag-container-border-color: var(--n-sys-border-color-success);
    --n-comp-tag-container-bg-color-hover: var(--n-sys-color-success);
    --n-comp-tag-container-text-color: var(--n-sys-on-container-color-success-variant);
  }

  .n-tag--appearance-soft-warning {
    --n-comp-tag-container-bg-color: var(--n-sys-container-color-warning-variant);
    --n-comp-tag-container-border-color: var(--n-sys-border-color-warning);
    --n-comp-tag-container-bg-color-hover: var(--n-sys-color-warning);
    --n-comp-tag-container-text-color: var(--n-sys-on-container-color-warning-variant);
  }

  .n-tag--appearance-soft-danger {
    --n-comp-tag-container-bg-color: var(--n-sys-container-color-danger-variant);
    --n-comp-tag-container-border-color: var(--n-sys-border-color-danger);
    --n-comp-tag-container-bg-color-hover: var(--n-sys-color-danger);
    --n-comp-tag-container-text-color: var(--n-sys-on-container-color-danger-variant);
  }

  .n-tag--appearance-soft-info {
    --n-comp-tag-container-bg-color: var(--n-sys-container-color-info-variant);
    --n-comp-tag-container-border-color: var(--n-sys-border-color-info);
    --n-comp-tag-container-bg-color-hover: var(--n-sys-color-info);
    --n-comp-tag-container-text-color: var(--n-sys-on-container-color-info-variant);
  }

  /* solid */

  .n-tag--appearance-solid-primary {
    --n-comp-tag-container-bg-color: var(--n-sys-container-color-primary);
    --n-comp-tag-container-border-color: var(--n-sys-border-color-primary);
    --n-comp-tag-container-bg-color-hover: var(--n-sys-container-color-primary-variant);
    --n-comp-tag-container-text-color: var(--n-sys-on-container-color-primary);
  }

  .n-tag--appearance-solid-success {
    --n-comp-tag-container-bg-color: var(--n-sys-container-color-success);
    --n-comp-tag-container-border-color: var(--n-sys-border-color-success);
    --n-comp-tag-container-bg-color-hover: var(--n-sys-container-color-success-variant);
    --n-comp-tag-container-text-color: var(--n-sys-on-container-color-success);
  }

  .n-tag--appearance-solid-warning {
    --n-comp-tag-container-bg-color: var(--n-sys-container-color-warning);
    --n-comp-tag-container-border-color: var(--n-sys-border-color-warning);
    --n-comp-tag-container-bg-color-hover: var(--n-sys-container-color-warning-variant);
    --n-comp-tag-container-text-color: var(--n-sys-on-container-color-warning);
  }

  .n-tag--appearance-solid-danger {
    --n-comp-tag-container-bg-color: var(--n-sys-container-color-danger);
    --n-comp-tag-container-border-color: var(--n-sys-border-color-danger);
    --n-comp-tag-container-bg-color-hover: var(--n-sys-container-color-danger-variant);
    --n-comp-tag-container-text-color: var(--n-sys-on-container-color-danger);
  }

  .n-tag--appearance-solid-info {
    --n-comp-tag-container-bg-color: var(--n-sys-container-color-info);
    --n-comp-tag-container-border-color: var(--n-sys-border-color-info);
    --n-comp-tag-container-bg-color-hover: var(--n-sys-container-color-info-variant);
    --n-comp-tag-container-text-color: var(--n-sys-on-container-color-info);
  }

  /* plain */
  .n-tag--appearance-plain-primary {
    --n-comp-tag-container-bg-color: var(--n-sys-color-white);
    --n-comp-tag-container-border-color: var(--n-sys-border-color-primary);
    --n-comp-tag-container-bg-color-hover: var(--n-sys-color-primary);
    --n-comp-tag-container-text-color: var(--n-sys-on-container-color-primary-variant);
  }

  .n-tag--appearance-plain-success {
    --n-comp-tag-container-bg-color: var(--n-sys-color-white);
    --n-comp-tag-container-border-color: var(--n-sys-border-color-success);
    --n-comp-tag-container-bg-color-hover: var(--n-sys-color-success);
    --n-comp-tag-container-text-color: var(--n-sys-on-container-color-success-variant);
  }

  .n-tag--appearance-plain-warning {
    --n-comp-tag-container-bg-color: var(--n-sys-color-white);
    --n-comp-tag-container-border-color: var(--n-sys-border-color-warning);
    --n-comp-tag-container-bg-color-hover: var(--n-sys-color-warning);
    --n-comp-tag-container-text-color: var(--n-sys-on-container-color-warning-variant);
  }

  .n-tag--appearance-plain-danger {
    --n-comp-tag-container-bg-color: var(--n-sys-color-white);
    --n-comp-tag-container-border-color: var(--n-sys-border-color-danger);
    --n-comp-tag-container-bg-color-hover: var(--n-sys-color-danger);
    --n-comp-tag-container-text-color: var(--n-sys-on-container-color-danger-variant);
  }

  .n-tag--appearance-plain-info {
    --n-comp-tag-container-bg-color: var(--n-sys-color-white);
    --n-comp-tag-container-border-color: var(--n-sys-border-color-info);
    --n-comp-tag-container-bg-color-hover: var(--n-sys-color-info);
    --n-comp-tag-container-text-color: var(--n-sys-on-container-color-info-variant);
  }
}
