@layer components {
  .n-tag {
    --n-comp-tag-container-border-radius: 4px;
    --n-comp-tag-container-border-radius-rounded: 9999px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: var(--n-comp-tag-container-size);
    padding: 0 var(--n-comp-tag-container-p-r) 0 var(--n-comp-tag-container-p-l);
    box-sizing: border-box;

    color: var(--n-comp-tag-container-text-color);
    font-weight: var(--n-sys-text-weight-semibold);
    font-size: var(--n-comp-tag-container-text-size);
    line-height: 1;
    white-space: nowrap;

    border-color: var(--n-comp-tag-container-border-color);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--n-comp-tag-container-border-radius);

    background-color: var(--n-comp-tag-container-bg-color);
  }

  .n-tag--is-round {
    border-radius: var(--n-comp-tag-container-border-radius-rounded);
  }

  .n-tag__close {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--n-comp-tag-close-size);
    height: var(--n-comp-tag-close-size);
    margin: 0;
    margin-right: var(--n-comp-tag-close-m-r);
    margin-left: var(--n-comp-tag-close-m-l);
    padding: 0;

    color: var(--n-comp-tag-close-color);

    border: 0;
    border-radius: 40px;

    background-color: var(--n-comp-tag-close-bg-color);

    cursor: pointer;
  }

  .n-tag__close:hover {
    color: var(--n-comp-tag-close-color-hovered);

    background-color: var(--n-comp-tag-close-bg-color-hovered);
  }

  .n-tag__close:focus-visible {
    color: var(--n-comp-tag-close-color-hovered);

    background-color: var(--n-comp-tag-close-bg-color-hovered);

    outline: none;
  }

  .n-tag__close-icon {
    display: block;

    width: calc(var(--n-comp-tag-close-size) - 2px);
    height: calc(var(--n-comp-tag-close-size) - 2px);

    border-radius: 50%;
  }
}
