@layer components {
  .n-textarea {
    --n-comp-textarea-container-text-size: var(--n-sys-text-size-base);
    --n-comp-textarea-container-text-color: var(--n-sys-text-color);
    --n-comp-textarea-container-text-color-placeholder: var(--n-sys-color-text-placeholder);
    --n-comp-textarea-container-border-color: var(--n-sys-border-color-base);
    --n-comp-textarea-container-radius-border: var(--n-sys-radius-border-base);
    --n-comp-textarea-container-bg-color: var(--n-ref-palette-white);

    position: relative;

    display: inline-block;

    width: 100%;

    font-size: var(--n-comp-textarea-container-text-size);
    vertical-align: bottom;
  }

  .n-textarea__native {
    position: relative;

    display: block;

    width: 100%;
    padding: 5px 11px;
    box-sizing: border-box;

    color: var(--n-comp-textarea-container-text-color);
    font-size: inherit;
    font-family: inherit;
    line-height: 1.5;

    border: 0;
    border-radius: var(--n-comp-textarea-container-border-radius);

    background-color: var(--n-comp-textarea-container-bg-color);
    background-image: none;

    outline: none;

    box-shadow: 0 0 0 1px var(--n-comp-textarea-container-border-color) inset;

    appearance: none;
    resize: vertical;
  }

  .n-textarea__native::-webkit-scrollbar {
    z-index: 11;

    width: 6px;
  }

  .n-textarea__native::-webkit-scrollbar:horizontal {
    height: 6px;
  }

  .n-textarea__native::-webkit-scrollbar-thumb {
    width: 6px;

    border-radius: 5px;

    background-color: var(--n-sys-color-secondary-500);
  }

  .n-textarea__native::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  .n-textarea__native::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .n-textarea__native::-webkit-scrollbar-track-piece {
    width: 6px;

    background-color: transparent;
  }

  .n-textarea__count {
    position: absolute;
    bottom: 5px;
    right: 10px;

    font-size: 12px;
    line-height: 14px;
  }
}
