@layer components {
  .n-row {
    position: relative;

    display: flex;
    flex-wrap: wrap;

    height: 100%;
    box-sizing: border-box;
  }

  .n-row--is-justify-center {
    justify-content: center;
  }

  .n-row--is-justify-end {
    justify-content: flex-end;
  }

  .n-row--is-justify-space-between {
    justify-content: space-between;
  }

  .n-row--is-justify-space-around {
    justify-content: space-around;
  }

  .n-row--is-justify-space-evenly {
    justify-content: space-evenly;
  }

  .n-row--is-align-middle {
    align-items: center;
  }

  .n-row--is-align-bottom {
    align-items: flex-end;
  }
}
