@layer components {
  /* soft */
  .n-tag--appearance-soft-secondary {
    /* bg */
    --n-comp-tag-container-bg-color: var(--n-sys-color-secondary-50);
    --n-comp-tag-close-bg-color: var(--n-sys-color-secondary-50);
    --n-comp-tag-close-bg-color-hovered: var(--n-sys-color-secondary);

    /* border */
    --n-comp-tag-container-border-color: var(--n-sys-color-secondary-50);

    /* text */
    --n-comp-tag-container-text-color: var(--n-sys-color-secondary);
    --n-comp-tag-close-color: var(--n-sys-color-secondary);
    --n-comp-tag-close-color-hovered: var(--n-sys-color-white);
  }

  /* solid */
  .n-tag--appearance-solid-secondary {
    /* bg */
    --n-comp-tag-container-bg-color: var(--n-sys-color-secondary);
    --n-comp-tag-close-bg-color: var(--n-sys-color-secondary);
    --n-comp-tag-close-bg-color-hovered: var(--n-sys-color-secondary-50);

    /* border */
    --n-comp-tag-container-border-color: var(--n-sys-color-secondary);

    /* text */
    --n-comp-tag-container-text-color: var(--n-sys-color-white);
    --n-comp-tag-close-color: var(--n-sys-color-white);
    --n-comp-tag-close-color-hovered: var(--n-sys-color-secondary);
  }

  /* outline */
  .n-tag--appearance-outline-secondary {
    /* bg */
    --n-comp-tag-container-bg-color: transparent;
    --n-comp-tag-close-bg-color: transparent;
    --n-comp-tag-close-bg-color-hovered: var(--n-sys-color-secondary);

    /* border */
    --n-comp-tag-container-border-color: var(--n-sys-color-secondary);

    /* text */
    --n-comp-tag-container-text-color: var(--n-sys-color-secondary);
    --n-comp-tag-close-color: var(--n-sys-color-secondary);
    --n-comp-tag-close-color-hovered: var(--n-sys-color-white);
  }
}
