/* stylelint-disable declaration-property-value-no-unknown */
@font-face {
  font-weight: 100 900;
  font-family: Inter;
  font-style: oblique 0deg 10deg;
  src: url('./Inter.var.woff2?v=3.19') format('woff2');
  font-display: swap;
}
