@layer components {
  .n-button--mode-solid.n-button--appearance-success {
    /* container-color-outline */
    --n-comp-button-outline: var(--n-sys-outline-success);

    /* container-bg-color */
    --n-comp-button-container-bg-color: var(--n-sys-color-success);
    --n-comp-button-container-bg-color-hovered: var(--n-sys-color-success-light);
    --n-comp-button-container-bg-color-pressed: var(--n-sys-color-success-dark);

    /* container-border-color */
    --n-comp-button-container-border-color: var(--n-sys-color-success);
    --n-comp-button-container-border-color-hovered: var(--n-sys-color-success-light);
    --n-comp-button-container-border-color-pressed: var(--n-sys-color-success-dark);

    /* container-text-color */
    --n-comp-button-container-text-color: var(--n-sys-color-white);
    --n-comp-button-container-text-color-hovered: var(--n-sys-color-white);
    --n-comp-button-container-text-color-pressed: var(--n-sys-color-white);
  }

  .n-button--mode-soft.n-button--appearance-success {
    /* container-color-outline */
    --n-comp-button-outline: var(--n-sys-outline-success);

    /* container-bg-color */
    --n-comp-button-container-bg-color: var(--n-sys-color-success-50);
    --n-comp-button-container-bg-color-hovered: var(--n-sys-color-success-100);
    --n-comp-button-container-bg-color-pressed: var(--n-sys-color-success-150);

    /* container-border-color */
    --n-comp-button-container-border-color: var(--n-sys-color-success-50);
    --n-comp-button-container-border-color-hovered: var(--n-sys-color-success-100);
    --n-comp-button-container-border-color-pressed: var(--n-sys-color-success-150);

    /* container-text-color */
    --n-comp-button-container-text-color: var(--n-sys-color-success);
    --n-comp-button-container-text-color-hovered: var(--n-sys-color-success);
    --n-comp-button-container-text-color-pressed: var(--n-sys-color-success);
  }

  .n-button--mode-outline.n-button--appearance-success {
    /* container-color-outline */
    --n-comp-button-outline: var(--n-sys-outline-success);

    /* container-bg-color */
    --n-comp-button-container-bg-color: transparent;
    --n-comp-button-container-bg-color-hovered: var(--n-sys-color-success-50);
    --n-comp-button-container-bg-color-pressed: var(--n-sys-color-success-100);

    /* container-border-color */
    --n-comp-button-container-border-color: var(--n-sys-color-success);
    --n-comp-button-container-border-color-hovered: var(--n-sys-color-success-light);
    --n-comp-button-container-border-color-pressed: var(--n-sys-color-success-dark);

    /* container-text-color */
    --n-comp-button-container-text-color: var(--n-sys-color-success);
    --n-comp-button-container-text-color-hovered: var(--n-sys-color-success);
    --n-comp-button-container-text-color-pressed: var(--n-sys-color-success);
  }

  .n-button--mode-text.n-button--appearance-success {
    /* container-color-outline */
    --n-comp-button-outline: var(--n-sys-outline-success);

    /* container-bg-color */
    --n-comp-button-container-bg-color: transparent;
    --n-comp-button-container-bg-color-hovered: var(--n-sys-color-success-50);
    --n-comp-button-container-bg-color-pressed: var(--n-sys-color-success-100);

    /* container-border-color */
    --n-comp-button-container-border-color: var(--n-sys-color-white);
    --n-comp-button-container-border-color-hovered: var(--n-sys-color-success-50);
    --n-comp-button-container-border-color-pressed: var(--n-sys-color-success-100);

    /* container-text-color */
    --n-comp-button-container-text-color: var(--n-sys-color-success);
    --n-comp-button-container-text-color-hovered: var(--n-sys-color-success);
    --n-comp-button-container-text-color-pressed: var(--n-sys-color-success);
  }

  .n-button--mode-link.n-button--appearance-success {
    /* container-color-outline */
    --n-comp-button-outline: var(--n-sys-outline-primary);

    /* container-bg-color */
    --n-comp-button-container-bg-color: transparent;
    --n-comp-button-container-bg-color-hovered: transparent;
    --n-comp-button-container-bg-color-pressed: transparent;

    /* container-border-color */
    --n-comp-button-container-border-color: transparent;
    --n-comp-button-container-border-color-hovered: transparent;
    --n-comp-button-container-border-color-pressed: transparent;

    /* container-text-color */
    --n-comp-button-container-text-color: var(--n-sys-color-success);
    --n-comp-button-container-text-color-hovered: var(--n-sys-color-success);
    --n-comp-button-container-text-color-pressed: var(--n-sys-color-success);
  }
}
