@layer components {
  .n-button--is-hoverable:hover {
    --n-comp-button-container-text-color: var(--n-comp-button-container-text-color-hovered);
    --n-comp-button-container-bg-color: var(--n-comp-button-container-bg-color-hovered);
    --n-comp-button-container-border-color: var(--n-comp-button-container-border-color-hovered);
  }

  .n-button--is-hoverable:active {
    --n-comp-button-container-text-color: var(--n-comp-button-container-text-color-pressed);
    --n-comp-button-container-bg-color: var(--n-comp-button-container-bg-color-pressed);
    --n-comp-button-container-border-color: var(--n-comp-button-container-border-color-pressed);
  }

  .n-button--mode-link.n-button--is-hoverable:hover {
    text-decoration: underline;
  }

  .n-button:focus {
    outline: none;
  }

  .n-button:focus-visible {
    z-index: 1;

    outline: var(--n-comp-button-outline);
    outline-offset: 0;
  }

  .n-button--is-disabled:disabled {
    cursor: default;

    opacity: 0.5;
  }
}
