@layer themes {
  .nado-theme {
    /* border color */
    --theme-layout-pages-border-color: var(--n-ref-palette-white-400);

    /* NAVBAR */
    --theme-navbar-background-color: var(--n-ref-palette-white-100);
    --theme-navbar-border-color: var(--n-ref-palette-white-250);

    /* navbar dropdown */
    --theme-navbar-dropdown-background-color: var(--n-ref-palette-white-100);
    --theme-navbar-dropdown-border-color: var(--n-ref-palette-white-300);

    /* navbar dropdown hover */
    --theme-navbar-dropdown-hover-background-color: var(--n-ref-palette-white-200);

    /* SEPARATOR AND ALL BORDERS */
    --theme-navbar-separator-color: var(--n-ref-palette-white-300);

    /* MENU */
    --theme-menu-backgroun-color: var(--n-ref-palette-white-100);
    --theme-menu-border-color: var(--n-ref-palette-white-200);

    /* MENU ITEM */
    --theme-menu-item-background-color: var(--n-ref-palette-white-200);
    --theme-menu-item-border-color: var(--n-ref-palette-white-200);

    /* layout-pages */
    --theme-layout-pages-background-color: var(--n-ref-palette-white-150);

    /* --theme--menu-item--color: var(--n-ref-palette-black-500); */

    /*  TABLE */
    --theme-layout-pages-header-background-color: var(--n-ref-palette-white-150);
    --theme-layout-pages-header-color: var(--n-ref-palette-black-500);
    --theme-layout-pages-cell-background-color: var(--n-ref-palette-white-100);
    --theme-layout-pages-cell-color: var(--n-ref-palette-black-500);
  }
}
